.botonVolver{
  background-color: yellow;
  color: #000000; 
  border: none;
  padding: 0%;
  height: 100%;
  width: 20%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  justify-items: center;
  align-content: center;
  text-align: center !important;
  text-decoration: none;
}
.botonVolver:hover {
  background-color: #ffdb4d; 
}
.botonVolver img{
  width: 20px; 
  height: 20px;
  padding: 0;
}
/* estilos para formularios  */
.bodyForm {
  background-color: #f5f5f5; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.divForm{
  background-color: #ffffff; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  
}
.divBoton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  padding:0%;
  margin: 0%;
}
.formulario{
  background-color: transparent;
  text-align: center;
  width: 500px;
  height:400px;
  display: grid;
  align-self: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.formulario > p{
  width: auto;
  border-radius: 25px;
  border: 2px solid #f7f7f7;
  background-color: #f7f7f7;
  align-content: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0%;
  position: relative;
}
.formulario > p >  input{
  width: 80%;
  background-color: transparent;
  border: none;  
  border-bottom: 2px solid black;  
  outline: none;
  font-size: large;
}
.boton{
  background-color: #ffcc00;
  color: #ffffff; 
  border: none;
  padding: 0%;
  height: 70%;
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  justify-items: center;
  align-content: center;
  text-align: center !important;
}
.boton:hover {
  background-color: #ffdb4d; 
}
.filtro{
  text-align: left;
  display: flex;
  
}
.buscadorContenedor{
  display: flex;
  background-color: #f5f5f5;
  text-align: left;
  width: 30%;
  height: 40px;
  align-items: center;
  border-radius: 9px;
  padding: 0 20px;
  gap: 15px;
  margin-left: 2%;
  margin-bottom: 0.5%;
  
}
.buscar{
  background-color: transparent;
  padding: none;
  border: none;
  border-radius: 5px;
  width: 220%;
  height: 40px;
  font-size: 18px;
  
}
.buscar:focus{
  outline: none;
}

.icono{
    width: 32px;
    height: 32px;
}
.tdTexto{
    text-align: left;
   }
   
.tdNumero{
  text-align:  center !important;
  }
   
.tdTitulo{
  text-align:  center !important;
  font-style:bold;
  }

.agregar{
    text-align: right;
}
thead th,
tfoot th {
  color: #d7e02d;
}

tbody td {
  text-align: right;
  color: #0b0b0b;
}

tfoot th {
  text-align: right;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }

  .td-nombre{
    text-align:  center !important;
  }


.td-opciones{
  text-align:  right !important;
}
.td-opciones.container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

  th,
  td {
    padding: 5px;
  }

  tbody tr:nth-child(odd) {
    background-color: #b3b0b0;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eef1b8;
  }

  thead th:nth-child(1){
    padding-left: 2%;
    text-align: center;
  }

 
  .titulo {
    text-align: center;
    background-color: yellow;
    /*padding-top: 20px;*/
    padding: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  }
  .subTitulo{
    text-align: center;
    background-color:rgb(150, 150, 150);
    /*padding-top: 20px;*/
    padding: 10px;
  }

  .boton-agregar{
    text-align: right;
    float: right;
    width: 40px; 
    height: auto;
    padding: 0;
    margin-right: 30px;
  }
  .boton-derecha{
    text-align: right;
    float: right;
    width: 40px; 
    height: auto;
    padding: 0;
    margin-right: 30px;
  }
  .boton-izquierda{
    text-align: right;
    float: left;
    width: 40px; 
    height: auto;
    padding: 0;
    margin-right: 30px;
  }

  .boton-agregar img {
    width: 100%; 
    height: auto; 
  }
  .boton-izquierda img, .boton-derecha img{
    width: 100%; 
    height: auto; 
  }
   
.boton-editar{
  background-color: transparent;
  border: transparent;
}
.boton-editar img{
    width: 20px; 
    height: 23px;
    padding: 0;
}

.boton-eliminar img{
  width: 40px; 
  height: auto;
  padding: 0;
}

