{% extends "base.html"%}
{% load static %}
{% block styleOtros %}  
     <link rel='stylesheet' href="{% static 'css/base_nav.css' %}" type="text/css">
  {% endblock %}
  {% block nav %}
    <nav class="barraMenu">
        <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
            <ul class="ulMenuPrincipal">
                <li class="liMenuPrincipal">
                    <a class="linkMenu active" aria-current="page" href="/configuracion/reportes">Reportes</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/tablasParametricas">Configuracion</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/listados">Listados</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/cobros">cobros</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/configuracion/cargaInicial">Carga Inicial</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/configuracion/cargaMasiva">Carga Masiva</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/administracion/gestionarBackup">Administracion</a>
                </li>

            </ul>
        </div>
    </nav>
   
  {% endblock %}
  {% block subMenu %}
  {% endblock %}

    