<!DOCTYPE html>
<html>

<head>
{% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %} {% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    {% block styleBase %}  
    <link rel='stylesheet' href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}
    {% block styleOtros %}  
    {% endblock %}
</head>

<body>
    <header class="cabecera" once="cabecera" id="cabecera">
        <div class="itemCabecera">
            <img src="{% static 'images/logo.png' %}" alt="Newbery" title="Logo Newbery" height="80px" width="80px" >
                      
    
        </div>
        <div class="itemCabecera">
            <h1 class="tituloCabecera">Sistema de Gestion Newbery</h1>
    
        </div>
        {% if user.is_authenticated  %}

        <div class="itemCabecera">
                <a class="contacto-mail" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="itemCabecera">
            <a class="contacto-mail" href="{% url 'login' %}">Login</a>
    </div>

        {% endif %}

    </header>
    <hr>
    {% if user.is_authenticated  %}
    
    {% block nav %}
    {% endblock %}
    {% block subMenu %}
    {% endblock %}
    <section class="contenedor">
        {% block body %}
        {% endblock %}

    </section>

    {% endif %}

    <footer>
        <section>
            <p> Copyright Newbery</p>
        </section>
    </footer>

</body>

</html>