{% extends "base.html"%}
{% load static %}
{% block styleOtros %}  
     <link rel='stylesheet' href="{% static 'css/base_nav.css' %}" type="text/css">
  {% endblock %}
  {% block nav %}
    <nav class="barraMenu">
        <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
            <ul class="ulMenuPrincipal">
                {% if menu %}
                    {% for me in menu %}
                    <li class="liMenuPrincipal">
                       <a class="linkMenu" aria-current="page" href="{{me.menu.url}}">{{me.menu.nombre}}</a>
                    </li>
                    {% endfor %}
                {% endif %}

            </ul>
        </div>
    </nav>
   
  {% endblock %}
  {% block subMenu %}
  {% endblock %}

    