{% extends "base.html"%}
    {% block nav %}
    <nav class="barraMenu">
        <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
            <ul class="ulMenuPrincipal">
                <li class="liMenuPrincipal">
                    <a class="linkMenu active" aria-current="page" href="#">Principal</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="#">Features</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/configuracion/listadoDisciplinas">Disciplinas</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu " href="/accounts/login/">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cobros/render_cobros">Cobros</a></li>
        <li><a href="/configuracion/listadoPersonas">Listado de Socios</a></li>
        <li><a href="/configuracion/listadoDisciplinas">Listado de Discplinas</a></li>
        <li><a href="/configuracion/listadoCategorias">Listado de Categorias</a></li>
        <li><a href="/configuracion/listadoBecas">Listado de Becas</a></li>
        <li><a href="/configuracion/listadoJugadoresCategorias">Listado de Jugadores x Categoria</a></li>
    
    </ul>
    {% endblock %}


    