{% load static %}
<h1> Newbery</h1>
<img  src = "{% static 'images/logo.jpg' %}"
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cobros/render_cobros">Cobros</a></li>
    <li><a href="/configuracion/listadoPersonas">Listado de Socios</a></li>
    <li><a href="/configuracion/render_cobros">Listado de Discplinas</a></li>
    <li><a href="/configuracion/render_cobros">Listado de Categorias</a></li>
    <li><a href="/configuracion/render_cobros">Listado de Becas</a></li>
    <li><a href="/configuracion/render_cobros">Listado de Jugadores x Categoria</a></li>

</ul>