{% extends "base_nav.html"%}
{% block title %} Gestion Club Jorge Newbery {% endblock %}
{% block body %}     
{% load static %} 
<link rel='stylesheet' href="{% static 'css/base.css' %}" type="text/css">
<!-- <section class="imgCabecera"> -->


<!-- </section> -->
   <!--  <h2> Administracion y Gestion</h2> -->
<body>
    <div class="container">
        <div class="">
            <h2>Administración y Gestión</h2>
            <a href="/administracion/envioEmail"> envío de e-mail</a>
        </div>
        <div class="imagen">
            <img src="/static/images/cancha.jpg" alt="Imagen de administración">
        </div>
    </div>
</body>

{% endblock %}
















