{% extends "base_nav.html"%}

{% block body %}
<h1> Menu de Tablas Parametricas del Sistema</h1>
<nav class="barraMenu">
    <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
        <ul class="ulMenuPrincipal">
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/listadoCategorias">Categorias</a>
            </li>
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/listadoJugadores">Jugadores</a>
            </li>
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/listadoPersonas">Personas</a>
            </li>
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/listadoSocios">Socios</a>

            </li>
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/listarIntegrantesClub">Integrantes Club</a>

            </li>
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/listarBecados">Becados</a>
            </li>

        </ul>
    </div>
</nav>

{% endblock %}