.icono{
    width: 32px;
    height: 32px;
}
.tdTexto{
    text-align: left;
   }
   
.tdNumero{
     text-align: right;
   }
   
.tdTitulo{
       text-align: center;
       font-style: bold; ;
   }

.agregar{
    text-align: right;
    background-color: azure;
}