<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/configuracionAs.css' %}">
</head>
<body class="bodyForm">
    {% csrf_token %}
    <div class="divForm">
        <a title="Volver" class="botonVolver" href="{% url 'gestJugadores:filtrarEvaluacionTTAJugadoresCategoria' anioSele  0 categoriaSele %}"><img src="{%static 'img/volver-flecha.png'%}" alt=""> Volver</a>
        <h1 class="titulo">{{ titulo }}</h1>
        <h3>Evaluacion: {{evaluacionSele.nombre}} --  Inicio: {{evaluacionSele.fechaInicio|date:"d-m-Y"}}  --   Fin: {{evaluacionSele.fechaFin|date:"d-m-Y"}}</h3>
        <br>
        <hr>
        <br>
        <form method="POST" action="{% url 'gestJugadores:guardarEvaluacionTTAJugadoresCategoria' evaluacionSele.pk %}">
            {% csrf_token %}

        <table border="1">
           {% for matriz in matrizEvaluacion %}
            {% if forloop.counter < 3 %}
                {% if forloop.counter == 1 %}
                  <thead>
                    <th></th>
                {% endif %}
                <tr>
                       {% for celda in matriz %}
                         {% if forloop.counter > 1 %}
                           <th colspan="{{celda.1}}">{{celda.0}}
                           </th>
                         {% else %}
                         {% endif %}
                       {% endfor %}

                </tr>
                {% if forloop.counter == 2 %}
                  </thead>
                {% endif %}
            {% else %}
                <tbody>
                 <tr>
                   {% for celda in matriz %}
                      {% if forloop.counter > 2  %}
                      <td>{{forloop.counter}}</td>
                        <td>
                            <select name="evalTTA" required>
                                <option value="">Seleccione un evento</option>
                                {% for valor in valoresEvaluacionTTA %}
                                   <option value="{{ valor.0 }}" {% if celda == valor.0|stringformat:"s" %}selected{% endif %}>
                                      {{ valor.1 }}
                                   </option>
                                {% endfor %}
                            </select> 
                            
                        </td>
                      {% else %}
                           {% if forloop.counter > 1  %}
                              <td>{{celda}}</td>
                           {% else %}
                             <td>{{forloop.counter}}</td>
                             <input id="jugador" name="jugador" type="hidden" value="{{celda}}" />
                           {% endif %}
                         {% endif %}
                   {% endfor %}
                  </tr>
                  </tbody>
              {% endif %}
            {% endfor %}
        </table>
        <br>
        <br>
        <div class="divBoton">
            <button class="boton" type="submit">{{ boton_texto }}</button>
        </div>
        </form


    </div>

    </body>
    </html>
    