{% extends "base_nav.html"%}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
</head>

{% block body %}
    {% csrf_token %}
    <div class="divForm">
        <h1 class="titulo">{{ titulo }}</h1>

        <div class="filtro">
            <!-- definimos un formulario para filtrar por disciplina -->
            {% csrf_token %}
            Filtrar por:
            <form method="get" action="{% url 'gestJugadores:filtrarAsistenciaJugadoresCategoria' %}">
                <label for="categoria"> Categoria: </label>
                <select name="categoria" onchange="this.form.submit()">
                    <option value="">Seleccione una categoria</option>
                    {% for cat in categorias %}
                    <option value="{{ cat.categorias.id }}" {% if request.GET.categoria == cat.categorias.id|stringformat:"s" %}selected{% endif %}>
                        {{ cat.categorias.nombre }}
                    </option>
                    {% endfor %}
                </select>
                <label for="fechaEntrenamiento"> Fecha de entrenamiento: </label>
                <input type="date" id="fechaEntrenamiento" name="fechaEntrenamiento" value="" min="2024-01-01" max="2030-12-31" />
                <label for="eventoDeportivo"> Evento: </label>
                <select name="eventoDeportivo" >
                    <option value="">Seleccione un Evento</option>
                    {% for eveDep in eventosDeportivos %}
                    <option value="{{ eveDep.id }}" {% if request.GET.eventoDeportivo == eveDep.id|stringformat:"s" %}selected{% endif %}>
                        {{ eveDep.evento }}
                    </option>
                    {% endfor %}
                </select>
                    <button type="submit">Filtrar</button>
            </form>
        </div>
        <br>
        <hr>
        <br>
        <form method="POST" action="{% url 'gestJugadores:cargarAsistenciaJugadoresCategoria' %}">
            {% csrf_token %}

            {% for listJugador in listadoJugadores %}
                <input type="checkbox" id="{{listJugador.id}}" name="jugadores" value="{{listJugador.id}}" checked =True>
                <label for="{{listJugador.id}}"> {{listJugador.persona.nombre}} {{listJugador.persona.apellido}}</label><br>
                
            {% endfor %}
            <br>
            <div class="divBoton">
                <button class="boton" type="submit">{{ boton_texto }}</button>
            </div>
        </form
      
    </div>

    <div>
        <table border="1">
                {% for matriz in matrizAsistencia %}
                <tr>
                    {% for jug in matriz %}
                        <td>{{jug}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
        </table>

    </div>
    
    {% endblock %}

