
{% extends "./base.html"%}
{% block title %} Gestion de Cobros {% endblock %}
{% load static %}
{% block style %} 
    <link rel='stylesheet' href="{% static 'css/cobros.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/cobros.js' %}"></script>

 {% endblock %}


 {% block body %} 
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2> Gestion de Cobros  </h2>
        <div class="card">
            <div class="card-body">
                    <input id="search_input" type="text" name="q">
                    {% csrf_token %}
            </div>

        </div>
        <p id="resultado_busqueda"></p>
    </div>
</div>
<table id="resultados" class="table">
    <tbody id="listSocio">
    </tbody>
</table>
<script type="text/javascript">
     $(document).ready(__init);
</script>

{% endblock %}  
