{% extends "./base_nav.html"%}
{% block title %} Gestion de Cobros {% endblock %}
{% load static %}
{% block styleOtros %}  
    <link rel='stylesheet' href="{% static 'css/cobros.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/cobros.js' %}"></script>

 {% endblock %}
 {% block subMenu %}
 <nav class="barraMenu">
     <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
             <li class="liMenuPrincipal">
                 <a class="linkMenu" href="/cobros/pagarCuota">Pagar Cuota</a>
             </li>
             <li class="liMenuPrincipal">
                 <a class="linkMenu" href="/cobros/listarSociosDeuda">Listar Deudores</a>
             </li>
 
         </ul>
     </div>
 </nav>
 
 {% endblock %}
 
