{% extends "base_nav.html"%}
{% block title %} Pago Socio {% endblock %}
{% load static %}
{% block styleOtros %}  
     <link rel='stylesheet' href="{% static 'css/configuracion.css' %}" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
     <script type="text/javascript" src="{% static 'js/agruparSocios.js' %}"></script>
 
     {% endblock %}
{% block body %}
<h1> Detalle Pago Socio</h1>

{% for listadoSocio in listadoSocios %}
    <p>Socio: {{listadoSocio.numero}} - {{listadoSocio.persona.apellido}}, {{listadoSocio.persona.nombre}}, resp: {{listadoSocio.responsable}}</p>
{% endfor %}

<div class="row">
{% if listadoPagos %}
{% for listPago in listadoPagos %}
<table id="resultados" class="table">
    <thead>
        <tr >
         <th colspan =24>  {{listPago.anio}}  </th>
        </tr>
        <tr>
         {% for cabMes in listPago.cabMeses %}
                    <th colspan="2">{{cabMes}}</th> 
    
        
        {% endfor %}
        </tr>
    
    </thead>
    <tbody >
        <tr>
            {% for pagoMes in listPago.pagoMeses %}
            <td>{{pagoMes}}</td> 
            <td>pagar</td> 
            {% endfor %}
        </tr>

</tbody>

</table>
{% endfor %}

{% endif %}
<form  method="POST">{% csrf_token %}
    <input type="text" class=" text-white ">
    
    <button type="submit" class="btn btn-success btn-block text-white ">Enviar Pago</button>

</form>
{% endblock %}  