.tdTexto{
 text-align: left;
}

.tdNumero{
  text-align: right;
}

.tdTitulo{
    text-align: center;
    font-style: bold; ;
}
.icono{
  width: 32px;
  height: 32px;
}
.agregar{
  align-items: right;
  background-color: black;
}