<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <script>
        function actualizarCategorias() {
            var disciplinaId = document.getElementById('id_disciplina').value;
            var categoriasSelect = document.getElementById('id_categoria');

            fetch(`obtenerCategorias/?disciplina_id=${disciplinaId}`)
                .then(response => response.json())
                .then(data => {
                    categoriasSelect.innerHTML = '';
                    data.forEach(categoria => {
                        var option = document.createElement('option');
                        option.value = categoria.id;
                        option.text = categoria.nombre;
                        categoriasSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error al obtener las categorías:', error);
                });
        }
    </script>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <script>
        document.getElementById('id_disciplina').addEventListener('change', actualizarCategorias);
    </script>
</body>
</html>