
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>

   <!--  {% load static %} -->
    <!-- Uso Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- <script> src="{% static 'static:agregarJugadorCategorias.js' %}" </script> -->
    
    <!-- Script para inicializar Select2 -->
    <script>
    $(document).ready(function() {
        $('.select2').select2({
            ajax: {
                url: '{% url "configuracion:obtener_personas" %}',
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        term: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            placeholder: 'Buscar por DNI',
            minimumInputLength: 2,
            language: {
                inputTooShort: function (args) {
                    return 'Por favor, ingresa al menos ' + args.minimum + ' caracteres'; // Mensaje simplificado
                }
            }
        });
    });
    </script>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <script> 
    /* Esta funcion actualiza las categorias cuando el usuario selecciona una disciplina */
    function actualizarCategorias() {
        var disciplinaId = document.getElementById('id_disciplina').value;
        var categoriasSelect = document.getElementById('id_categoria');  /*selecciona el select de categorias*/

        fetch(`obtenerCategorias/?disciplina_id=${disciplinaId}`) /*solicitud de categorias por disciplina*/
            .then(response => response.json())
            .then(data => {
                categoriasSelect.innerHTML = ''; /*limpia*/
                data.forEach(categoria => {
                    var option = document.createElement('option');
                    option.value = categoria.id;
                    option.text = categoria.nombre;
                    categoriasSelect.appendChild(option); /*añade el nuevo option a la seleccion de categorias*/
                });
            })
            .catch(error => {
                console.error('Error al obtener las categorías:', error);
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
        var disciplinaSelect = document.getElementById('id_disciplina');
        if (disciplinaSelect) {
            disciplinaSelect.addEventListener('change', actualizarCategorias);
            if (disciplinaSelect.value) {
                actualizarCategorias(); // Llama a la función para inicializar las categorías si ya hay una disciplina seleccionada.
            }
        }
    }); 
    document.getElementById('id_disciplina').addEventListener('change', actualizarCategorias);
 

    </script>
</body>
</html>