<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Nueva Disciplina</title>
    <link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
</head>
<body class="bodyForm">
    <div class="divForm">
        <a title="Volver" class="botonVolver" href="{%url 'configuracion:listadoDisciplinas' %}"><img src="{%static 'img/volver-flecha.png'%}" alt=""> Volver</a>
        <h1 class="titulo" >Agregar Nueva Disciplina</h1>
        <form class="formulario" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="divBoton">
                <button class="boton" type="submit">Enviar {{accion}}</button>
           </div>
            
        </form>
    </div>  
</body>


</html>