{% extends "base_nav.html"%}
{% block body %}
<h1> Gestion de Motivos Becas</h1>
<table>
    
    <thead>
        <tr>
                <th>Id</th>
                <th>Concepto</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoCalidadIntegrantes %}
{% for listadoCalidadIntegrante in listadoCalidadIntegrantes %}
                <tr>
                    <td>{{listadoCalidadIntegrante.id}}</td>
                    <td>{{listadoCalidadIntegrante.concepto}}</td>
                    <td colspan="3"></td>
                
                </tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}
