
<h2>Cargas Masivas</h2>
<ul class="ulMenuPrincipal">
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargaInicialDisciplinas">Carga de Disciplinas</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargaInicialCategorias">Cargar categoria</a>
</li>
<li class="liMenuPrincipal">
    <a class="linkMenu active" aria-current="page" href="/configuracion/cargaInicialBecas">Cargar Becas</a>
</li>
<li class="liMenuPrincipal">
    <a class="linkMenu active" aria-current="page" href="/configuracion/cargaInicialCuotas">Cargar Cuotas</a>
</li>


</ul>

<h2>Borrado Masivo</h2>
    


<h3>{{mensaje}}</h3>
