{% extends "base_nav.html"%}
{% block body %}
<h1> Administracion de Carga Masiva</h1>
<h2>Cargas Masivas</h2>
<ul class="ulMenuPrincipal">
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargaMasivaSocios">Carga de socios</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/gestionarJugadoresCategoria">Cargar jugadores por categoria</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargarCategorias">Cargar categorias</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargarAgrupacionFamiliarSocios">Cargar Agrupacion Familiar a Socios</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargaBecasJugador">Cargar Becas por Jugador</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargaIntegrantesClub">Cargar Integrantes del Club</a>
    </li>
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/cargaBecasJugadores">Cargar Becas de Jugadores</a>
    </li>


</ul>

<h2>Borrado Masivo</h2>
<ul class="ulMenuPrincipal">
    <li class="liMenuPrincipal">
        <a class="linkMenu active" aria-current="page" href="/configuracion/borrarTodosSocios">Borrar todos los socios</a>
    </li>
    <li class="liMenuPrincipal">
            <a class="linkMenu active" aria-current="page" href="/configuracion/gestionarJugadoresCategoria">Borrar jugadores por categoria</a>
    </li>
    

</ul>

<h3>{{mensaje}}</h3>
{% endblock %}