<h1> Gestion de Jugadores por Categoria</h1>
<table>
    
    <thead>
        <tr>
                <th>#</th>
                <th>Disciplina</th>
                <th>Categoria</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Fecha de Nacimiento</th>
  
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoJugadoresCategorias %}
{% for listadoJugadoresCategoria in listadoJugadoresCategorias %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{listadoJugadoresCategoria.categoria.disciplina.nombre}}</td>
                    <td>{{listadoJugadoresCategoria.categoria.nombre}}</td>
                    <td>{{listadoJugadoresCategoria.apellido}}</td>
                    <td>{{listadoJugadoresCategoria.nombre}}</td>
                    <td>{{listadoJugadoresCategoria.fecha_nacimiento}}</td>
                    <td>{{listadoJugadoresCategoria.dni}}</td>
                
                </tr>
{% endfor %}
{% endif %}
</table>

