{% extends "base_nav.html"%}
{% block body %}
<h1> Gestion de Disciplinas</h1>
<table>
    
    <thead>
        <tr>
                <th>#</th>
                <th>Disciplina</th>
                <th>Categoria</th>
                <th>Paga Disciplina</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoCategorias %}
{% for listadoCategoria in listadoCategorias %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{listadoCategoria.disciplina.nombre}}</td>
                    <td>{{listadoCategoria.nombre}}</td>
                    <td>{{listadoCategoria.paga_disciplina}}</td>
                
                </tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}
