{% extends "base_nav.html"%}
{% load static %}
{% block styleOtros %}
<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
{% endblock %}

{% block body %}
<div >
    <header>
        <h1 class="titulo"> Gestion de Disciplinas</h1>
    </header>
</div>


<a class="boton-agregar" href="{% url 'configuracion:agregarDisciplinas' %}" >
    <img src="{% static 'img/agregar.png' %}" alt="Agregar" title="Agregar">
</a>

<table>
    <thead>
        <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% if listadoDisciplinas %}
        {% for disciplina in listadoDisciplinas %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td class="td-nombre">{{disciplina.nombre}}</td>
                <td class="td-nombre">
                    {% if disciplina.activo %}
                        <a class="boton-editar"><img  src="{% static 'img/check.png' %}" title="Activo"></a>
                    {% else %}
                        <a class="boton-editar"><img  src="{% static 'img/no.png' %}" title="No activo"></a>
                    {% endif %}
                </td>
                <td class="td-opciones">
                    <div class="td-opciones container">
                        <a class="boton-editar" href="{% url 'configuracion:editarDisciplinas' disciplina.id %}"> 
                            <img  src="{% static 'img/editar-logo.png' %}" alt="Editar" title="Editar" class="icono"></a>
                        <!-- <a class="boton-eliminar" href="{% url 'configuracion:borrarDisciplinas' disciplina.id %}"> 
                            <img  src="{% static 'img/eliminar1.png?v=2.' %}" alt="Eliminar" title="Eliminar" class="icono"></a> -->
                        <a class="boton-eliminar" href="{% url 'configuracion:borrarLogDisciplinas' disciplina.id %}"> 
                            <img  src="{% static 'img/eliminar1.png?v=2.' %}" alt="Eliminar" title="Eliminar" class="icono"></a>
                    </div>
                </td>

            </tr> 
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}

