{% extends "base_nav.html"%}
{% block title %} Integrantes del Club {% endblock %}
{% load static %}
{% block styleOtros %}  
     <link rel='stylesheet' href="{% static 'css/configuracion.css' %}" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
     <script type="text/javascript" src="{% static 'js/agruparSocios.js' %}"></script>
 
     {% endblock %}
{% block body %}
<h1 class="titulo"> Listado de integrantes del club </h1>
<div class="row">
<table id="resultados" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numero </th>
            <th>DNI</th>
            <th>Apellido y Nombre</th>
            <th>Relacion</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th colspan="3">Accion</th>
        </tr>
    </thead>
    <tbody >
        {% if listadoIntegranteClub %}
        {% for listadoIntegrante in listadoIntegranteClub %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td class="tdNumero">{{listadoIntegrante.id}}</td>
                        <td class="tdNumero">{{listadoIntegrante.persona.dni}}</td>
                        <td class="tdTexto">{{listadoIntegrante.persona.apellido}} {{listadoIntegrante.persona.nombre}}</td>
                        <td class="tdNumero">{{listadoIntegrante.calidad}} </td>
                        <td class="tdNumero">{{listadoIntegrante.fechaDesde}} </td>
                        <td class="tdNumero">{{listadoIntegrante.fechaHasta}} </td>
                        <td collspan="3">
                        </td>

                    
                    </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}  