{% extends "base_nav.html"%}
{% block body %}
<h1> Gestion de Jugadores </h1>
<table>
    
    <thead>
        <tr>
                <th>#</th>
                <th>Disciplina</th>
                <th>Categoria</th>
                <th>Id Persona</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Fecha de Nacimiento</th>
  
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoJugadores %}
{% for listadoJugador in listadoJugadores %}
                <tr>
                    <td class="tdNumero">{{forloop.counter}}</td>
                    <td class="tdTexto">{{listadoJugador.categoria.disciplina.nombre}}</td>
                    <td class="tdTexto">{{listadoJugador.categoria.nombre}}</td>
                    <td class="tdNumero">{{listadoJugador.persona.id}}</td>
                    <td class="tdTexto">{{listadoJugador.persona.apellido}}</td>
                    <td class="tdTexto">{{listadoJugador.persona.nombre}}</td>
                    <td class="tdNumero">{{listadoJugador.persona.dni}}</td>
                    <td class="tdTexto">{{listadoJugador.persona.fecha_nacimiento}}</td>
                
                </tr>
{% endfor %}
{% endif %}
</table>

{% endblock %}

