{% extends "base_nav.html"%}
{% block body %}
<h1> Listado de Jugadores que no tienen nro. de Socio </h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th> ID Persona</th>
            <th>DNI</th>
            <th>Apellido y Nombre</th>
            <th>Disciplina</th>
            <th>Categoria</th>
            <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% if listarJugadoresNoSocios %}
    {{listarJugadoresNoSocios.Jugadores.persona.nombre}}
        {% for listarJugadoresNoSocio in listarJugadoresNoSocios %}
        <tr>
            <td class="tdTexto">{{listarJugadoresNoSocio.persona.id}}</td>
            <td class="tdTexto">{{listarJugadoresNoSocio.persona.dni}}</td>
            <td class="tdTexto">{{listarJugadoresNoSocio.persona.nombre}} {{listarJugadoresNoSocio.persona.apellido}}</td>
            <td class="tdTexto">{{listarJugadoresNoSocio.categoria.disciplina}}</td>
            <td class="tdTexto">{{listarJugadoresNoSocio.categoria}}</td>
                
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}

