{% extends "base_nav.html"%}
{% load static %}
{% block styleOtros %}
<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
{% endblock %}
{% block body %}
<h1 class="titulo"> Listado de Jugadores que no tienen nro. de Socio </h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th> ID Persona</th>
            <th>DNI</th>
            <th>Apellido y Nombre</th>
            <th>Disciplina</th>
            <th>Categoria</th>
            <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% if listarJugadoresNoSocios %}
    {{listarJugadoresNoSocios.Jugadores.persona.nombre}}
        {% for listarJugadoresNoSocio in listarJugadoresNoSocios %}
        <tr>
            <td class="tdNumero">{{forloop.counter}}</td>
            <td class="tdNumero">{{listarJugadoresNoSocio.persona.id}}</td>
            <td class="tdNumero">{{listarJugadoresNoSocio.persona.dni}}</td>
            <td class="td-nombre">{{listarJugadoresNoSocio.persona.nombre}} {{listarJugadoresNoSocio.persona.apellido}}</td>
            <td class="td-nombre">{{listarJugadoresNoSocio.categoria.disciplina}}</td>
            <td class="td-nombre">{{listarJugadoresNoSocio.categoria}}</td>
                
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}

