<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Mensaje</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/configuracion.css' %}">
</head>
<body>
    <div class="divForm">
        <p>{{ mensaje }}</p>
        
        <a class="botonVolver" href="{{ url_redireccion }}"><img  src="{% static 'img/volver-flecha.png' %}" alt="Volver" title="Volver" class="icono">  Volver al listado</a>
    </div>
</body>
</html>