{% extends "base_nav.html"%}
{% load static %}
{% block styleOtros %}
<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
{% endblock %}
{% block body %}
<h1 class="titulo"> Gestion de Motivos de Becas</h1>
<table>
    
    <thead>
        <tr>
                <th>#</th>
                <th>Concepto</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoMotivosBecas %}
{% for listadoMotivosBeca in listadoMotivosBecas %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td class="td-nombre">{{listadoMotivosBeca.concepto}}</td>
                    <td colspan="3"></td>
                
                </tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}
