<h1> Gestion de Cobros</h1>
<table>
    {% block body %} 
    <thead>
        <tr>
                <th>#</th>
                <th>Dni</th>
                <th>Nombre Socio</th>
                <th>Apellido Socio</th>
                <th>Fecha Nac.</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoPersonas %}
{% for listadoPersona in listadoPersonas %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{listadoPersona.dni}}</td>
                    <td>{{listadoPersona.nombre}}</td>
                    <td>{{listadoPersona.apellido}}</td>
                    <td>{{listadoPersona.fecha_nacimiento}}</td>
                    <td>{{listadoPersona.telefono}}</td>
                    <td>{{listadoPersona.direccion}}</td>
                
                </tr>
{% endfor %}
{% endif %}
</table>

{% endblock %}  