{% extends "base_nav.html"%}
{% load static %}
{% block styleOtros %}  
     <link rel='stylesheet' href="{% static 'css/configuracion.css' %}" type="text/css">
{% endblock %}
{% block body %}
<h1> Gestion de Personas del Club</h1>

<table>
    <thead>
        <tr>   
            <th colspan="9" > 
                <div class="agregar">
                    <a href="{% url 'configuracion:agregarPersona' %}">
                        <img src="{% static 'img/agregar.jpg' %}" alt="agregar" title="agregar"  class="icono">
                    </a>
                </div>
             </th>
             
        </tr>
        <tr>
                <th>#</th>
                <th>Id</th>
                <th>Dni</th>
                <th>Nombre Persona</th>
                <th>Apellido Persona</th>
                <th>Fecha Nac.</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoPersonas %}
{% for listadoPersona in listadoPersonas %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td class="tdNumero">{{listadoPersona.id}}</td>
        <td class="tdNumero">{{listadoPersona.dni}}</td>
        <td class="tdTexto">{{listadoPersona.nombre}}</td>
        <td class="tdTexto">{{listadoPersona.apellido}}</td>
        <td class="tdTexto">{{listadoPersona.fecha_nacimiento}}</td>
        <td class="tdNumero">{{listadoPersona.telefono}}</td>
        <td class="tdTexto">{{listadoPersona.direccion}}</td>
        <td colspan="3">
            <a href="{% url 'configuracion:editarPersona' listadoPersona.id %}" ><img
                src="{% static 'img/editar.png' %}" alt="Editar" title="Editar" class="icono"></a>
            <a href="{% url 'configuracion:borrarPersona' listadoPersona.id %}" ><img
                 src="{% static 'img/eliminar.png' %}" alt="Eliminar" title="Eliminar" class="icono"></a>
        </td>   
    </tr>
                
{% endfor %}
{% endif %}
</table>

{% endblock %}  