{% extends "base_nav.html"%}

{% block body %}
<h1> Menu de Tablas Parametricas del Sistema</h1>
<nav class="barraMenu">
    <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
        <ul class="ulMenuPrincipal">
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/reporteJugadoresPorCategoria">Reporte Jug. por Cat.</a>
            </li>
            <li class="liMenuPrincipal">
                <a class="linkMenu" href="/configuracion/reporteJugadoresPorDisciplina">Teporte Jug. por Disciplina</a>
            </li>
            
        </ul>
    </div>
</nav>

{% endblock %}