{% extends "base_nav.html"%}
{% load static %}
{% block styleOtros %}  
    <link rel='stylesheet' href="{% static 'css/configuracion.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/agruparSocios.js' %}"></script>
  {% endblock %}

{% block body %}
<h1 class="titulo"> Gestion de Socios</h1>
{{datos}}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="buscadorContenedor">
            <img class="icono" src="{% static 'img/buscar.png' %}" alt="buscar">
            <div class="card">
                <div class="card-body">
                        <input class="buscar" id="search_input" type="text" name="q" placeholder="Ingresa el apellido del socio responsable">
                        {% csrf_token %}
                        <script>
                            window.onload = function() {
                                document.getElementById('search_input').focus();
                            };
                        </script>
                </div>
            </div>
        </div>
        
        <p id="resultado_busqueda"></p>
    </div>
</div>
<table id="resultados" class="table">
    <thead>
        <tr>
                <th>#</th>
                <th>Numero</th>
                <th>Dni</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody id="listSocios">
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(__init);
</script>
{% endblock %}

