{% extends "base_nav.html"%}
{% load static %}
{% block styleOtros %}  
     <link rel='stylesheet' href="{% static 'css/configuracion.css' %}" type="text/css">
  {% endblock %}

{% block body %}
<h1> Gestion de Socios</h1>
<table>
    <thead>
        <tr>   
            <th colspan="8" > 
                <div class="agregar">
                    <a href="{% url 'configuracion:agruparSocios' %}">
                        <img src="{% static 'img/agrupar.png' %}" alt="agrupar" title="agrupar"  class="icono">
                    </a>
                </div>
             </th>
             
        </tr>
        <tr>
                <th >Id</th>
                <th>Socio</th>
                <th>Dni</th>
                <th>Apellido y Nombre</th>
                <th>Responsable</th>
                <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody>

{% if listadoSocios %}
    {% for listadoSocio in listadoSocios %}
                <tr>
                    <td>{{listadoSocio.id}}</td>
                    <td class="tdNumero">{{listadoSocio.numero}}</td>
                    <td class="tdNumero">{{listadoSocio.persona.dni}}</td>
                    <td class="tdTexto">{{listadoSocio.persona.apellido}} {{listadoSocio.persona.nombre}}</td>
                    <td class="tdNumero">{{listadoSocio.responsable}} </td>
                
                </tr>
    {% endfor %}
{% endif %}
</table>
{% endblock %}

